#wrapper {
    width: 940px;
    height: 850px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    width: auto;
    height: 40px;
}
.sky {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: skyblue;
}
.dirt {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
  float: left;
  background-image: url('../pic/dirt.png');
}
.grass {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
  float: left;
  background-image: url('../pic/grass.png');
}

.tree{
    width: 40px;
    height: 40px;
    margin: 0;
    display: inline-block;
    float: left;
    background-image: url('../pic/tree.png');
}

.cell {
  width: 40px;
  height: 40px;
}

.toolboxDiv{
    height:520px;
    width:140px;
    float: right;
    display: inline;
    background-color: black;
}

.pickAxe {
  background-image: url('../pic/pickaxe.png');
  position: relative;
  display: block;
}

.axe {
  background-image: url('../pic/axe.png');
  position: relative;
  right: 50px;
  top: 50px;
  display: block;
}
