#wrapper {
    width: 940px;
    height: 850px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    width: auto;
    height: 40px;
}
.sky {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: skyblue;
}
.dirt {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
  float: left;
  background-image: url('../pic/dirt.png');
}
.grass {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
  float: left;
  background-image: url('../pic/grass.png');
}

.tree{
    width: 40px;
    height: 40px;
    margin: 0;
    display: inline-block;
    float: left;
    background-image: url('../pic/tree.png');
}

.stone {
  width: 40px;
  height: 40px;
  margin: 0;
  display: inline-block;
  float: left;
  background-image: url('../pic/rock.png');
}

.leaf {
  width: 40px;
  height: 40px;
  margin: 0;
  display: inline-block;
  float: left;
  background-image: url('../pic/leaf.gif');
}

.cell {
  width: 40px;
  height: 40px;
}

.toolboxDiv{
    height:520px;
    width:140px;
    float: right;
    display: inline;
    background-color: black;
}

.pickAxe {
  background-image: url('../pic/pickaxe.png');
    border:1px solid white;
  margin-top: 50px;
  width: 90px;
  height: 90px;
  margin-left:25px;
  position: absolute;
  display: block;
}

.axe {
  background-image: url('../pic/axe.png');
    border:1px solid white;
  margin-top: 50px;
  width: 90px;
  height: 90px;
  margin-left:25px;
  position: absolute;
  top: 195px;
  display: block;
}

.shovel {
  background-image: url('../pic/shovel.png');
  border:1px solid white;
  position: absolute;
  margin-left:25px;
  width: 90px;
  height: 90px;
  top: 290px;
  margin-top: 50px;

}
